Repository DruMoDev/mi-portafolio-astro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --plugin prettier-plugin-astro

.
  public/_headers
Due: none

.
  public/_headers
  src/components/Head.astro
Due: prettier --write --plugin prettier-plugin-astro

widget constante
  src/layouts/BaseLayout.astro
Due: prettier --write --plugin prettier-plugin-astro

feat: Introduce i18n alternate path generation with route segment mapping and update routing to use Astro's i18n utilities.
  src/components/Navigation.astro
  src/i18n/index.test.ts
  src/i18n/index.ts
  src/pages/404.astro
Due: prettier --write, prettier --write --plugin prettier-plugin-astro

feat: Introduce `webUrl` field to project schema, display it on project detail pages, and add the new Net7 project.
  src/content.config.ts
  src/content/projects/en/net7.md
  src/content/projects/es/net7.md
  src/pages/en/projects/[slug].astro
  src/pages/proyectos/[slug].astro
Due: prettier --write, prettier --write --plugin prettier-plugin-astro

feat: Integrate Astro Image component, enhance accessibility with ARIA attributes, update i18n translations, and add new assets.
  package-lock.json
  package.json
  public/apple-touch-icon.png
  src/assets/images/projects/adn-sports.png
  src/assets/images/projects/chatbot-ai.png
  src/assets/images/yo.jpg
  src/components/Head.astro
  src/components/Navigation.astro
  src/components/ProjectCard.astro
  src/components/SocialLinks.astro
  src/components/sections/About.astro
  src/components/sections/Contact.astro
  src/components/sections/Experience.astro
  src/components/sections/Footer.astro
  src/components/sections/Hero.astro
  src/components/sections/Portfolio.astro
  src/components/sections/Stack.astro
  src/components/ui/Button.astro
  src/components/ui/SectionTitle.astro
  src/components/ui/ThemeToggle.astro
  src/data/site.ts
  src/i18n/en.ts
  src/i18n/es.ts
  src/layouts/BaseLayout.astro
  src/pages/en/projects/[slug].astro
  src/pages/proyectos/[slug].astro
  src/styles/global.css
  src/types/index.ts
Due: prettier --write, prettier --write --plugin prettier-plugin-astro

optimizaciones
  src/assets/images/projects/default.png
  src/components/ProjectCard.astro
  src/content.config.ts
  src/content/projects/en/adn-sports-web.md
  src/content/projects/en/chatbot-ai.md
  src/content/projects/en/datewhen.md
  src/content/projects/en/net7.md
  src/content/projects/es/adn-sports-web.md
  src/content/projects/es/chatbot-ai.md
  src/content/projects/es/datewhen.md
  src/content/projects/es/net7.md
  src/pages/en/projects/[slug].astro
  src/pages/proyectos/[slug].astro
Due: prettier --write, prettier --write --plugin prettier-plugin-astro

Path conditions:
  prettier --write: any of: *.{ts,js,json,md,css}
  prettier --write --plugin prettier-plugin-astro: any of: *.astro
